- const Disc = require('src/js/json/'+htmlWebpackPlugin.options.disc+'.json')
- const DiscData = Disc.data

section.container--fluid.pt--25.pb--50
    h2.fs--18.font--family.font--bold #{DiscData.title}
    p.fs--16.font--family.font--normal.mt--15 #{DiscData.description}