extends layout

block head
    title M3M

block content
    include ./includes/residential-banner.pug
    include ./includes/residential-membership.pug
    include ./includes/disclaimer.pug
    include ./includes/terms-condition.pug